.skillContainer {
  margin-bottom: 1.5rem;
}

.skillInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.skillName {
  font-weight: 500;
  color: var(--dark-color);
}

.skillPercentage {
  color: var(--gray-color);
  font-size: 0.9rem;
}

.skillBar {
  height: 8px;
  background-color: #f0f0f0;
  border-radius: 4px;
  overflow: hidden;
}

.skillLevel {
  height: 100%;
  border-radius: 4px;
  transition: width 1s ease-in-out;
}
